# Q1

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [1]:
#IMPORTING ALL THE REQUORED LIBRARIES
import selenium
import pandas as pd
from selenium import webdriver 
import numpy as np 
from selenium.common.exceptions import NoSuchElementException
import time

In [2]:
#connecting to web drivers 
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
#CONNECTING TO THE WEBSITE 
driver.get("https://www.naukri.com/")

#THINGS TO SCRAP 
job-title, job-location, company_name, experience_required.---Data Analyst” Job position in “Bangalore” location

In [4]:
#entering job title in the search box 
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")

In [5]:
#entering location in the search box 
search_location=driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys("Bangalore")

In [6]:
#clicking the button 
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [7]:
#creating empty list to use for data storage 
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
#specifying url of page to scrap 
DAurl="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
driver.get(DAurl)

In [9]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="d9735ac8-4bfd-49f3-9c1c-cb93c043f86b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="742ba311-b8e9-4cbe-b913-707eea2de1aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="c854b110-b2b5-48ec-8de2-de59c2bfd25f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="459e8b69-3f2b-4e8b-8fbf-404d2f6c7ba0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="cfa13fea-333f-466c-82ce-8eb044be5c70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="1b6c6e3f-7d1d-4624-83b4-fabe85a5d47b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="b96260be-5fa3-44ed-bce6-eb620a950773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="367b40d1-a689-4205-b6eb-abb519b4f84a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="70eb5765-38fc-4198-96ad-6cfc05e5337e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="4c651b7c-51be-41b5-9415-f469e0e7f891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="083450d5-f265-41d2-99b4-00619e3b88d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="d3b6d6cd-c7d2-483e-9b50-692a2e673868")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="3f33a20c-fd47-4b34-a63a-12be896c7d39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="0e45c560-d79c-4ba2-a99e-e2304b72220d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="b312791d-463d-4c59-a5a6-4297d13e6bdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="a60ec395-f461-4e5c-844c-2129c1ff3c91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="ce9980c1-9343-46a5-8597-5a8890d686c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="04f5d3b1-c2e7-47c1-8941-ac0da6debd42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="73902226-6f90-4c1e-9440-0f69658859d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="8c9f69f8-d7ad-485b-aed3-c3ac0d4389fd")>]

In [10]:
for i in title_tag:
    title=i.text
    job_title.append(title)
    
print(len(job_title))    
job_title

20

['SQL Data Analyst',
 'Data Analyst - Marketing',
 'Openings For Data Analyst',
 'Associate Data Analyst',
 'Business Data Analyst',
 'Data Analyst / Business Analyst (Demand Planning)',
 'Data Analyst',
 'Lead Data Analyst / Data Engineer',
 'Business Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - Monetisation & Promotion Platform (MPP)',
 'Data Analyst - Monetisation & Promotion Platform (MPP)',
 'Data Analyst 1',
 'Ref Data Analyst',
 'Revenue Ops Data Analyst',
 'Job Openings For Data Analyst-Bangalore',
 'Data Analyst (SQL, Excel & Python)_Max 15 days joiners',
 'Data Analyst',
 'Data Analyst - I/II',
 'Senior Data Analyst']

In [11]:
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="ed4bf781-a027-40c2-88b1-c83fc889c8ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="3931b9ce-cf41-49de-a496-ab0a45ae90b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="a77bb7f3-eb3d-4ee5-8548-ceaf7cfd3892")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="9f92e888-d9df-4035-a42e-e23ff873a158")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="8f67be9a-2963-4705-802f-4ae611ad00bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="a1bcef66-67cf-4a53-a10d-b42d525c599f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="6a09ad73-f927-49c4-996a-83327648f03a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="49c807dd-711f-40d8-8d48-31935336655f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="5202737f-f6af-43af-a310-bd991aa2d977")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="605aebcc-cc82-44dc-a2d2-8194c48c2bdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="7d694b6b-ed2b-470c-95df-5f0d8e581c49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="6fbf48de-2c4a-4148-a5aa-19d4958f4fbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="e0bfa9ed-9ece-48fe-974b-101e4c069fd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="04b482c2-7e8e-4b1d-8668-76895d67d59b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="415d10e4-aaa8-4244-a287-8acb8eef9b34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="f25778cb-a817-401a-a65f-7bc085276d72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="ccb95217-324e-4779-84d9-2b16a26920dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="15a62088-facd-4f50-9e77-f7e38df34934")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="258ab205-c646-40ce-bac0-f017f8c39fab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="89b39b30-96e8-41ad-9245-e0dc7ee07ed1")>]

In [12]:
for i in location_tag:
    loc=i.text
    job_location.append(loc)
    
print(len(job_location))
job_location

20

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [13]:
name_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name_tag

[<selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="eaf42372-100e-46a3-a11c-b47dce55a6dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="57014f95-8586-4ea9-949e-635c93c3601e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="77985a30-8087-45d7-90a4-82d18bb3490b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="4cc97a2a-52ce-4688-9cc7-1317050d95bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="94e522f9-f553-4e96-b1b0-b23c85e406b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="af505066-9be5-4290-b374-190a1660ff4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="75d0cef1-b60f-45bc-a902-58fecba3cfd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="7260e7d3-5a70-489d-b829-4fabea31a751")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="604975ec-9fe7-483e-9e69-2a2b6e5bc8cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="9d33eeae-1756-4f7b-a56a-75e305a37d48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="fb4e8fdc-f617-43f3-bce4-d50c024f1449")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="ce9db8e5-b6f9-4054-8fec-178ce71b099d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="a290a914-ef9f-449a-bc5c-a73818bb563b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="7c4cf781-ff25-4101-83af-5980fa928fb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="a3700880-1282-4249-a669-761c9b23b1e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="09399807-a067-4472-aa17-25c9b0e50ac0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="83438a99-caa1-4ca1-871c-c1e546b430ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="27947433-0421-478a-9b4d-94f4320024c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="78be525c-3e0d-4e7a-a3ed-ed0de1d4cc91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="0749b583-612b-449a-a788-ba406d7c2e40")>]

In [14]:
for i in name_tag:
    name=i.text.replace("\n",'')
    company_name.append(name)
    
print(len(company_name))
company_name

20

['NetApp',
 'Byjus - Transforming Education using Technology',
 'Allegis Services India Pvt. Ltd.',
 'Integrated Digital Systems',
 'INDIAVIDUAL LEARNING LIMITED',
 'Flipkart',
 'Applied Materials',
 'Huawei Technologies',
 'RANDSTAD INDIA PVT LTD',
 'Scienaptic Systems',
 'Gojek Tech',
 'GO-JEK India',
 'Optum Global Solutions (India) Private Limited',
 'NTT Data',
 'Trifacta',
 'QUIN BAY TECHNOLOGIES PRIVATE LIMITED',
 'Quadrangle Search',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'Philips India Limited',
 'Flipkart Internet Private Limited']

In [15]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag

[<selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="8358bb60-792d-4519-8d98-01e727660620")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="5006ac54-666f-4042-9a02-44d0dc66718e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="cf5d498b-c539-4c14-b368-af632f3e918b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="60bfa5ed-f05b-4fd6-bc49-8b4403b39962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="aec68440-e1ec-4d9d-9781-df6f9b3b4c11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="97ac4e70-9266-4022-b12f-235503411f5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="5f9c541a-1ca3-41ea-8069-9a7ece020231")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="061f4523-5069-4f8b-a605-c6f6fd00f814")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="ce591992-d2f8-45f4-88de-bcd7d82da551")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="72667a00-1e9b-4cc5-9f99-939691c52c03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="68f67eb3-ab41-4701-af57-086e4a202264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="a7d1f362-5ffe-42a2-aa6a-84acbcf5ac6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="49ec321f-ae3e-40bf-8ccd-95e9c6dab1e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="c152a5ad-8eab-45d1-973a-fba1fd15d3dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="dc90d3f4-1a9a-4e9e-bb28-d25f4072dcea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="9049c8e2-dbd4-4aa3-9743-f5d580f9d887")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="f5441051-0a34-4820-b02f-265f27cd44a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="3008694c-7a09-4ce8-a7d6-99eda52b5caf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="1704a421-c381-4813-8ec4-84120961f6d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b537b4f1452213d2f52ef4578148c6e9", element="984fc558-9593-49d6-b1ee-5fc5443bbd6b")>]

In [16]:
for i in exp_tag:
    exp=i.text
    experience_required.append(exp)
    
print (len(experience_required))
experience_required

20

['3-7 Yrs',
 '0-2 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '0-3 Yrs',
 '5-10 Yrs',
 '8-12 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '4-9 Yrs',
 '6-11 Yrs',
 '1-4 Yrs',
 '5-7 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '3-6 Yrs',
 '2-5 Yrs']

In [17]:
#creating the dataframe 
DataAnalyst_BLR=pd.DataFrame({})
DataAnalyst_BLR["job_title"]=job_title
DataAnalyst_BLR["job_location"]=job_location
DataAnalyst_BLR["company_name"]=company_name
DataAnalyst_BLR["experience_required"]=experience_required

In [18]:
#dropping the  deatils byond 10 job data 
DataAnalyst_BLR.drop(range(10,20) , inplace=True)

In [19]:
#reseting the indexes 
DataAnalyst_BLR.index=np.arange(1,len(DataAnalyst_BLR)+1)

In [20]:
DataAnalyst_BLR

,job_title,job_location,company_name,experience_required
1,SQL Data Analyst,Bangalore/Bengaluru,NetApp,3-7 Yrs
2,Data Analyst - Marketing,Bangalore/Bengaluru,Byjus - Transforming Education using Technology,0-2 Yrs
3,Openings For Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-3 Yrs
4,Associate Data Analyst,Bangalore/Bengaluru,Integrated Digital Systems,0-2 Yrs
5,Business Data Analyst,Bangalore/Bengaluru,INDIAVIDUAL LEARNING LIMITED,2-6 Yrs
6,Data Analyst / Business Analyst (Demand Planning),Bangalore/Bengaluru,Flipkart,1-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
8,Lead Data Analyst / Data Engineer,Bangalore/Bengaluru,Huawei Technologies,5-10 Yrs
9,Business Data Analyst,Bangalore/Bengaluru,RANDSTAD INDIA PVT LTD,8-12 Yrs
10,Senior Data Analyst,Bangalore/Bengaluru,Scienaptic Systems,5-10 Yrs

In [42]:
driver.close()

# Q2

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [21]:
driver2=webdriver.Chrome("chromedriver.exe")

In [22]:
driver2.get("https://www.naukri.com/")

In [23]:
#entering job title in the search box 
search_jobs=driver2.find_element_by_id("qsb-keyword-sugg")
search_jobs.send_keys("Data Scientist")

In [24]:
search_button=driver2.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

#THINGS TO SCRAP 
job-title, job-location, company_name, full job-description.---Data Scientist” Job position in “Bangalore” location

In [25]:
#creating empty list to use for data storage 
jobs_title=[]
jobs_location=[]
company_names=[]

In [26]:
#specifying url of page to scrap 
DSurl="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver2.get(DSurl)

In [27]:
title_tags=driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="a2fe2418-7922-42b9-ab30-c9b1272bc11a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="9d822cd4-0526-4f18-a108-fd1a9db264a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="dd95b8d6-c5a6-432c-8d3a-e5906dd181fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="61ad405f-b0f1-4a23-9085-2046c383e6e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="be07ace5-c22c-456b-b3d9-a67367366bdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="6eeb4388-dbb3-4ce4-a21a-14353d45f788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="30290797-ee29-477e-a703-b11701672b2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="78fff799-cb7d-4789-ac2e-6c686467902f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="d7a84aa2-4147-413a-97e2-d62e728fa77a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="2b61909c-f931-4081-94a7-91c9f1547788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="f2ce662e-8cb8-42ca-a94a-5811ad4ee87f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="114dbe59-94be-4a69-9eca-ee77f576a321")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="fe9fca55-a30f-47d2-a23f-be95daacb539")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="31b83376-f50a-494e-a42b-e5583c999e1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="1ccc992a-84b2-4461-ae1a-ad95f4e5d300")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="3657367b-a259-4372-bf29-fd5e9f8bd7c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="5b3f3c1a-99b7-4c51-ba07-a3106a07ceb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="7bc13c12-5cb6-4896-8601-cf4eef90c77b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="2d1a2eb8-245e-4eef-b174-195da0db6394")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="59ef649b-f62f-4c21-85b1-19f415ce345d")>]

In [28]:
for i in title_tags:
    title=i.text
    jobs_title.append(title)
    
print(len(jobs_title))    
jobs_title

20

['Sr. Data Scientist / Data Scientist For Bangalore & Kolkata Locations',
 'Senior Data Scientist - Python/Machine Learning Algorithms',
 'Lead Data Scientist',
 'SDE2 Data Scientist',
 'SDE1 Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Vice President Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / AI / ML Engineer',
 'Senior/Lead Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist, NLP',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist/Senior Data Scientist - IT Services Firm',
 'Senior associate (Data Scientist)']

In [29]:
location_tags=driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags

[<selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="be91ce0e-ec7e-49fd-806a-f327590cf834")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="ac9610fb-09dc-405b-aa2d-9e548bd0f2a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="dbcb81de-a91d-49e5-a90d-fcf0aa60de08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="7facb54b-64d6-4b2f-9100-10aefd2a3922")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="4c93c221-257c-4e7f-bec3-ce4a9c30a020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="a04bc234-5524-4573-ba1f-5ecf3ee75fdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="de81cea1-ba37-4afb-85da-e83edac98534")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="52c933f8-6d97-4b07-b54c-372462a93d06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="1e60daa5-42c5-4ab4-a083-5060d96d9084")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="c9049da3-6485-4c55-8510-c426398e6511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="8fe8f6e2-0d57-41f3-bea6-aef18621216d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="5b6c4f82-9deb-4d58-927c-2b0503a9aa3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="e63f191f-105b-40a3-b3f8-8333e9d159dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="83dd09db-bb8f-41b0-9896-c4d27ef90feb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="1f7c7f87-45d1-44ab-baa4-f986dbde5982")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="6b852b9a-6fcb-42e5-b283-6abbbd60981c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="60453101-cb1f-453e-bd00-220a695b9620")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="405f4501-e868-43f7-ba79-d4dd9650cfb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="ff9802b8-294b-4f88-8520-8662e24a7b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="ec1a13c1-7646-46ad-bea4-4ed91c99dabb")>]

In [30]:
for i in location_tags:
    loc=i.text
    jobs_location.append(loc)
    
print(len(jobs_location))
jobs_location

20

['Kolkata, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sadashiva Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [31]:
name_tags=driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name_tags

[<selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="b929ef9f-e0dd-4853-aa7e-c9f0dfa87eed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="58dcc960-475f-4a37-9a05-012cc1394db1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="1a640577-6a0f-4311-a52a-a2072f6a857f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="231ebe5d-5538-41ef-833e-7739911c74e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="aca1f00a-4a67-4eab-a4f5-7b40ea8af8f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="5af986bd-57fe-46e5-a707-916d0fad7298")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="a31a177b-6b66-4964-8313-140dca1b5269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="cf5bf99e-981d-4e70-914a-1a5e3ef6b364")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="ae839afa-e69e-41e8-a2bf-2f370feb9214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="d54d0d79-a5e0-42c6-b632-94d4a144a459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="acaf1452-887d-4e48-baa6-f4c615ad7df0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="c2806bd5-5517-48dd-bf70-1c13f2fd8f12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="c52dead2-8d90-4c38-8dae-6e97d27211e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="8aa34e3f-dccc-4e9c-ac1f-2bf674697b7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="a89db8d4-3f69-445c-8572-56527a940997")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="1e3b97ba-3c75-42d3-b0d7-b0b703c5c0db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="fb68e883-fd18-4229-9f9c-f028fce7e33d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="075f0445-bfdd-45ce-a060-63f4c38bee9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="d18fa577-e45a-4d9b-8cbb-7ae033650356")>,
 <selenium.webdriver.remote.webelement.WebElement (session="259f9be74b0e2e101d1e2f2233df37e5", element="c9d69dcb-eda3-460e-b41c-1c7c1e99410b")>]

In [32]:
for i in name_tags:
    name=i.text
    company_names.append(name)
    
print(len(company_names))
company_names

20

['mPokket',
 'Altimax Business Solutions',
 'Huawei Technologies',
 'Multi Recruit',
 'Multi Recruit',
 'epiFi Technologies',
 'Nutanix India Technologies Private Limited',
 'ExecBoardinAsia',
 'Capco Technologies Pvt Ltd',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'Hitachi Ltd.',
 'Scienaptic Systems',
 'Executive Selection India',
 'GO-JEK India',
 'Convergence Infotech Ltd',
 'Thomson Reuters',
 'bd',
 'Visa Inc.',
 'Pylon Management Consulting Pvt Ltd',
 'CHANGE LEADERS CONSULTING']

In [33]:
job_url=[]
url_tag=driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in url_tag:
    ur=i.get_attribute('href')
    job_url.append(ur)

print(len(job_url))
job_url

20

['https://www.naukri.com/job-listings-sr-data-scientist-data-scientist-for-bangalore-kolkata-locations-mpokket-kolkata-bangalore-bengaluru-3-to-8-years-141021001893?src=jobsearchDesk&sid=16344106775532701&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-python-machine-learning-algorithms-altimax-business-solutions-mumbai-hyderabad-secunderabad-pune-bangalore-bengaluru-4-to-9-years-020921908794?src=jobsearchDesk&sid=16344106775532701&xp=2&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-4-to-9-years-121021907623?src=jobsearchDesk&sid=16344106775532701&xp=3&px=1',
 'https://www.naukri.com/job-listings-sde2-data-scientist-multi-recruit-bangalore-bengaluru-2-to-7-years-141021501578?src=jobsearchDesk&sid=16344106775532701&xp=4&px=1',
 'https://www.naukri.com/job-listings-sde1-data-scientist-multi-recruit-bangalore-bengaluru-8-to-13-years-141021501577?src=jobsearchDesk&sid=16344106775532701&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-epifi-technologies-bangalore-bengaluru-3-to-5-years-141021501473?src=jobsearchDesk&sid=16344106775532701&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-nutanix-india-technologies-private-limited-pune-bangalore-bengaluru-4-to-9-years-141021500782?src=jobsearchDesk&sid=16344106775532701&xp=7&px=1',
 'https://www.naukri.com/job-listings-vice-president-data-scientist-execboardinasia-bangalore-bengaluru-11-to-15-years-141021500866?src=jobsearchDesk&sid=16344106775532701&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-capco-technologies-pvt-ltd-bangalore-bengaluru-4-to-9-years-141021500034?src=jobsearchDesk&sid=16344106775532701&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-exl-services-com-i-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-3-to-5-years-141021005203?src=jobsearchDesk&sid=16344106775532701&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ai-ml-engineer-hitachi-ltd-bangalore-bengaluru-5-to-10-years-111021500424?src=jobsearchDesk&sid=16344106775532701&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-scienaptic-systems-bangalore-bengaluru-10-to-12-years-041021500239?src=jobsearchDesk&sid=16344106775532701&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-executive-selection-india-bangalore-bengaluru-5-to-10-years-141021900225?src=jobsearchDesk&sid=16344106775532701&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-go-jek-india-bangalore-bengaluru-5-to-10-years-111021502002?src=jobsearchDesk&sid=16344106775532701&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-convergence-infotech-ltd-bangalore-bengaluru-8-to-12-years-111021004221?src=jobsearchDesk&sid=16344106775532701&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nlp-thomson-reuters-international-services-pvt-ltd-bangalore-bengaluru-8-to-10-years-111021001745?src=jobsearchDesk&sid=16344106775532701&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-bd-bangalore-bengaluru-2-to-5-years-091021500390?src=jobsearchDesk&sid=16344106775532701&xp=17&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-visa-inc-bangalore-bengaluru-4-to-9-years-011021501318?src=jobsearchDesk&sid=16344106775532701&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-senior-data-scientist-it-services-firm-pylon-management-consulting-pvt-ltd-hyderabad-secunderabad-pune-gurgaon-gurugram-bangalore-bengaluru-5-to-6-years-131021906976?src=jobsearchDesk&sid=16344106775532701&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-associate-data-scientist-change-leaders-consulting-bangalore-bengaluru-1-to-5-years-141021603097?src=jobsearchDesk&sid=16344106775532701&xp=20&px=1']

In [34]:
full_desc=[]


for i in job_url:
    driver2.get(i)
    desc_tags=driver2.find_elements_by_xpath("//*[@class='dang-inner-html' or  @class='clearboth description' ]")
    for j in desc_tags:
        dec=j.text.replace("\n",'')
        full_desc.append(dec)

#for i in range(10):
    #full_desc.pop()

In [35]:
len(full_desc)

18

In [36]:
full_desc

["About The Job :- You will architect, code and deploy ML models (from scratch) to predict credit risk.- You will design, run, and analyze A/B and multivariate tests to test hypotheses aimed at optimizing user experience and portfolio risk.- You will perform data exploration and build statistical models on user behavior to discover opportunities for decreasing user defaults. And you must truly be excited about this part.- You'll use behavioral and social data to gain insights into how humans make financial choices- You will spend a lot of time in building out predictive features from super sparse data sources.- You'll continually acquire new data sources to develop a rich dataset that characterizes risk.- You will code, drink, breathe and live python, sklearn and pandas. It's good to have experience in these but not a necessity - as long as you're super comfortable in a language of your choice.About You :- You've strong computer science fundamentals- You've strong understanding of ML algorithms- Ideally, you have 2+ years of experience in using ML in the industry environment- You know how to run tests and understand their results from a statistical perspective- You love freedom and hate being micromanaged. You own products end to end- You have a strong desire to learn and use the latest machine learning algorithms- It will be great if you have one of the following to share - a kaggle or a github profile- Degree in statistics/quant/engineering from Tier-1 institutes.Skills:- Data Science, Python, Perl, Django, Machine Learning (ML) and Data Analytics",
 'We are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.Responsibility:Analyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads.Takeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads.Takeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology.To build and enhance Ad platform features and Prediction capabilities in Huawei Ads PlatformOptimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.Requirements:- Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/ RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc.- Programming experience with Python- Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance- AdServing domain Experience is an added advantage.',
 'Use data to develop machine learning models that optimize decision making in Credit Risk, Fraud, Marketing, and OperationsImplement data pipelines, new features, and algorithms that are critical to our production modelsCreate scalable strategies to deploy and execute your modelsWrite well designed, testable, efficient codeIdentify valuable data sources and automate collection processes.Undertake pre-processing of structured and unstructured data.Analyze large amounts of information to discover trends and patterns.Requirements:2+ years of experience in applied data science or engineering with a focus on machine learningPython expertise with good knowledge of machine learning libraries, tools, techniques, and frameworks (e.g. pandas, sklearn, xgboost, lightgbm, logistic regression, random forest classifier, gradient boosting regressor etc)Strong quantitative and programming skills with a product-driven sensibility-',
 'Use data to develop machine learning models that optimize decision making in Credit Risk, Fraud, Marketing, and OperationsImplement data pipelines, new features, and algorithms that are critical to our production modelsCreate scalable strategies to deploy and execute your modelsWrite well designed, testable, efficient codeIdentify valuable data sources and automate collection processes.Undertake pre-processing of structured and unstructured data.Analyze large amounts of information to discover trends and patterns.Requirements:1+ years of experience in applied data science or engineering with a focus on machine learningPython expertise with good knowledge of machine learning libraries, tools, techniques, and frameworks (e.g. pandas, sklearn, xgboost, lightgbm, logistic regression, random forest classifier, gradient boosting regressor etc)Strong quantitative and programming skills with a product-driven sensibility-',
 'At epiFi you will :Research and build predictive models to help users make the best financial decisionsInfluence data-driven decisions through end-to-end ownership of experiments : from collecting and building hypothesesto establishing statistical significance on resultsCollaborate closely with other functions on modeling ideas and building analyticsYou should apply if :You have at least 3 to 5 years of industry experience in data mining, machine learning, statistical analysis, and modelingYou have a MS or PhD in Computer Science, Physics, Statistics, Applied Mathematics, or any quantitative disciplinesYou have have a keen interest in financial services and a passion for shipping high-quality consumer-facing productsYou are able to self-manage your priorities and deliverables while working in a fast-paced, startup environmentYou have a solid foundation in computer science and strong competencies in data structures, algorithms, and software design, expertise with statistical data analysis such as linear models, multivariate analysis, stochastic models, sampling methodsYou are experienced in one or more of the following areas: Machine Learning (ML) models, ML infrastructure, Natural Language Processing or Deep LearningYou are proficient in one or more data-oriented programming languages / tools (e.g. Python, R, Pandas, Scikit-learn, Jupyter) and database languages (e.g. SQL)You have built and prototyped analysis pipelines iteratively to provide insights at scale, on tools such as Hive, Spark, AWS RedshiftYou have a spark that separates you from the crowd and ability to think out of the box and on your feetYou possess multi-dimensional skills that make you a valuable co-worker in a fast, changing and ambiguous environmentYou have the ability to learn other coding languages as needed real quickYou are comfortable in working with a team that deals with ambiguity every dayYou can articulate complicated technical concepts clearlyWed also love to see :Interesting hobby projects, open-source contributions, etcSharing of knowledge - via either formal mentoring, reviewing code, reviewing design documents, providing technical talks, teaching classes, or as a consultant on projects',
 'Objectives of this RoleCollaborate with product design and engineering to develop an understanding of needsResearch and devise innovative statistical models for data analysisCommunicate findings to all stakeholdersEnable smarter business processes and implement analytics for meaningful insightsKeep current with technical skillsets and industry developmentsResponsibilitiesWork as the lead data strategist, identifying and integrating new datasets that can be leveraged through our product capabilities and work closely with the Product Support Organization to strategize and execute the development of new data products and maintain existing onesExecute analytical experiments methodically to help solve various problems and make a true impact across various domains and industriesIdentify relevant data sources and sets to mine for client business needs, and collect large structured and unstructured datasets and variablesDevise and utilize algorithms and models to mine big data stores, perform data and error analysis to improve models, and clean and validate data for uniformity and accuracyAnalyze data for trends and patterns, and Interpret data with a clear objective in mindImplement analytical models into production by collaborating with software developers and machine learning engineers.Communicate analytic solutions to stakeholders and implement improvements as neededSkills and QualificationsBachelor s degree in statistics, applied mathematics, or related discipline7+ years experience in data scienceProficiency with data mining, mathematics, and statistical analysisAdvanced predictive modeling experienceExperience with Excel, PowerPoint, Tableau, SQL, and proficient in one of the programming languages (i.e., Python/R/Scala/SAS)Preferred QualificationsMaster s degree in stats, applied math, or related disciplineExperience in Natural Language Processing (NLP) algorithms, recommendation engine will be a plus.',
 'This role will be responsible for all aspects of software development, testing and ensuring compatibility with enterprise and solutions architecture by harnessing modern development technologies.The position is for a Vice President within the Asset and Wealth Management Technology within the newly formed AI/ML - Data Science Intelligent Decisions team. The team is part of the Client Services Ops and Technology team and are responsible for system utilized by Client Advisors and WM Operations. The team is envisioning to define solutions helping Ops to move from Spreadsheets and heritage system to more AI based solutions.The team is looking for a hands-on senior software manager to build a new team from scratch and lead a small team of 4-5 data scientists. This position will give you immense opportunity to work on some latest technologies. The role will also provide a rich functional experience and an excellent platform to expand your knowledge on the corporate action domain and bring exciting changes to the existing platform.Responsibilities IncludeAs a member of a diverse team, you will participate in the full engineering life cycle which includes designing, developing, optimizing, and deploying new software solutionsLead and continue to build out a team of Data Scientists in the regionWithin the client services space you would be required to deep dive into the customer s problem and identifying use cases that could represent an opportunity for transformational or disruptive innovation using the Machine learning models.You will partner with the firm wide Data Science, Machine Learning, and Platform Engineering teams to develop and deploy production quality code and help establish a governance for the sustained performance and outcome of developed AI/Model modelsLead recruiting and onboarding team members directly manage 5 - 10 team membersFrom India you would be responsible for all the model s lifecycle management, governance, risk assessment and periodic recertification along with the central risk teams and competent authorities.You would be required to not only do PoC s but also build out project charters and own end to end responsibilities for deploying the models into production.',
 'We are/have:Experts in banking and payments, capital markets and wealth and asset managementDeep knowledge in financial services offering, including e.g. Finance, Risk and Compliance, Financial Crime, Core Banking etc.Committed to growing our business and hiring the best talent to help us get there Focused on maintaining our nimble, agile and entrepreneurial cultureCapco is looking for hardworking, innovative and creative people to join our team. Must possess strong relationship management skills and be able to manage requirements and testing across Ops and IT teams both cross-division and globally. Role is focused on projects to support the development of regulatory/industry driven changes.Role DescriptionThis role provides regulatory data analytics using data from different geography. The primary responsibilities would be:Experience in data scienceExperience in marketing analytics is a plusExcellent analytical skills and commercial acumenGood understanding of the control requirements surrounding data handlingStrong self-starter with strong change delivery skills who enjoys the challenge of delivering change within tight deadlinesStrong verbal and written communication skillsAbility to manage multiple prioritiesKnowledge of and experience using data models and data dictionaries in a Banking and Financial Markets contextPreferable knowledge and experience in Data Quality GovernanceCan write SQL queries, Scala knowledge preferable and navigate data bases especially Hive, CMD, Putty, Note++Experience of using and flattening XMLExperience of big data programmes preferableEnthusiastic and energetic problem solver to join an ambitious teamBusiness analysis skills, defining and understanding requirementsAttention to detailGood knowledge of SDLC and formal Agile processes, a bias towards TDD and a willingness to test products as part of the delivery cycleAbility to communicate effectively in a multi-programme environment across a range of stakeholders',
 'Roles and ResponsibilitiesBe involved in the approach to the problem, structure and delivery of the solution.Contribute to how analytical approach is structured for specification of analysis.Solve business problems by applying advanced Machine Learning algorithms and complex statistical models on large volumes of data.Contribute insights from conclusions of analysis that integrate with initial hypothesis and business objective. Independently address complex problems.Extremely comfortable working with data, including managing large number of data sources, analyzing data quality, and pro-actively working with clients data.Become an expert in clients information assets.Build, scale and deploy holistic data science products after successful prototyping.Reformulate highly technical information into concise, understandable terms for presentations.Doing research on advanced and better ways of solving the problems and inculcating new learnings to the team.Desired Candidate Profile2-4 years experience with solid analytical skills and an entrepreneurial, hands-on approach.Strong hands on programming skills in Python, SQL. Experience with large data sets and analytical tools.Excellent understanding of traditional machine learning techniques and algorithms, such as K-means, KNN, SVM, Random Forests etc. Experience using ML, DL frameworks (such as Scikit-learn, XGBoost, TensorFlow, Keras etc.)Strong experience in presenting analytical insights using powerpoint/excel. Case interview is expected.Candidates who have published white papers, research papers in the field of computer science and data science are desirable',
 'Duties and ResponsibilitiesImplement the application solving customer s issue by applying AI/ML technologiesApply ML and DL models for various industry problems.Setting-up collaboration environment and framework for AI related research and development projects.Design and develop different architectural models for scalable data storage, processing, and large-scale analytics.Work with cross-functional teams to understand technical needs.Set-up big data environment that helps establish rapid POCs and prototype developments on both on-premises and cloud-based platforms.Monitor and optimize performance of the big data ecosystem.Ensure data accessibility to researchers via different programming languages.Keep up to date with state of the art in the industry.QualificationsMinimumBachelor s degree in Computer Science with substantial industry experience of 5 years or more of Data Engineering/ETL/Administration experience.Hands-on experience in Statistical data analysis and Machine learningPossess significant knowledge of Big Data technologies and tools.Good coding skills in at least one scripting language (Shell, Python, R, etc.)Experience with various Hadoop distribution like Hortonworks and Cloudera.Knowledge of cluster monitoring tools like Ambari, Ganglia, or Nagios.Delivered Big Data solutions in the cloud with AWS or Azure or Google Cloud.Experience in Java programming, Scala programming.Experience with RDBMS (MySQL, PostgreSQL, etc.)Experience with NoSQL database administration development like MongoDB.Experience with Hadoop eco-system (MapReduce, Streaming, Pig, HIVE, Spark).Experience using DevOps toolbox such as Jenkins, Chef, Puppet.Proven ability to create and manage big data pipeline using Kafka, Flume SparkKnowledge of BI tools such as Tableau, Pentaho, etc.Experience building large-scale distributed applications and services.Experience with agile development methodologies. -Knowledge of industry standards and trends.Good communication, logical thinking, and presentation skills.Additional qualifications (preferred but not mandatory)Master s degree in Computer Science or equivalent with at least 5 years industry experience of data engineering/ETL/Administration.Experience applying Deep learning.Substantial industry experience developing prototypes and demonstrating PoCs',
 'We are looking for an energetic and experienced person as Sr/Lead Data Scientist. The chosen candidate will be responsible for interacting with clients and developing all aspects of data mining, predictive analytic, solution development to name a few.RequirementsLead and take part in end-to-end ML (Machine Learning) projects deployments that require feasibility analysis, design, development, validation, and application of state-of-the art data science solutions.Need to deliver solutions to production through the software development lifecycle.You will have to push the state of the art application in terms of data mining, visualization, predictive modelling, statistics, trend analysis, and other data analysis techniques to solve complex business problems including recommender systems, Customer sentiment modelling, customer life-cycle modelling, Spare parts inventory optimization, spare parts pricing, warranty, After market channel effectiveness.Write production ready code and deploy real time ML models; expose ML outputs through APIs.Hypothesis Testing and Design of experiments to analyze and monitor resultsPartner with Data/ML engineers and vendor partners for input data pipes development and ML models automation.Skills5 10 years of Applied Machine learning experience in the fields of Machine Learning, Recommender Systems, Statistical Modelling, Predictive Modelling.Note: We are looking for candidates who are presently serving their notice or who can join us within 15-20 days.',

In [38]:
for i in range(10):
    company_names.pop()
    jobs_location.pop()
    jobs_title.pop()
    
for i in range(8):
    full_desc.pop()

In [39]:
data_scientist=pd.DataFrame({})
data_scientist["Job title "]=jobs_title
data_scientist["company_names "]=company_names
data_scientist["job_location"]=jobs_location
data_scientist["Full description "]=full_desc
data_scientist.index=np.arange(1,len(data_scientist)+1)
data_scientist10=data_scientist[:10]
data_scientist10

,Job title,company_names,job_location,Full description
1,Sr. Data Scientist / Data Scientist For Bangal...,mPokket,"Kolkata, Bangalore/Bengaluru","About The Job :- You will architect, code and ..."
2,Senior Data Scientist - Python/Machine Learnin...,Altimax Business Solutions,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",We are looking for a Lead data scientist who w...
3,Lead Data Scientist,Huawei Technologies,Bangalore/Bengaluru,Use data to develop machine learning models th...
4,SDE2 Data Scientist,Multi Recruit,Bangalore/Bengaluru,Use data to develop machine learning models th...
5,SDE1 Data Scientist,Multi Recruit,Bangalore/Bengaluru,At epiFi you will :Research and build predicti...
6,Data Scientist,epiFi Technologies,Bangalore/Bengaluru,Objectives of this RoleCollaborate with produc...
7,Data Scientist,Nutanix India Technologies Private Limited,"Pune, Bangalore/Bengaluru",This role will be responsible for all aspects ...
8,Vice President Data Scientist,ExecBoardinAsia,Bangalore/Bengaluru,"We are/have:Experts in banking and payments, c..."
9,Data Scientist,Capco Technologies Pvt Ltd,Bangalore/Bengaluru,Roles and ResponsibilitiesBe involved in the a...
10,Data Scientist,EXL Services.com ( I ) Pvt. Ltd.,"Gurgaon/Gurugram, Bangalore/Bengaluru",Duties and ResponsibilitiesImplement the appli...

In [40]:
driver2.close()

# Q3

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .        
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually .

In [63]:
driver3=webdriver.Chrome("chromedriver.exe")

In [77]:
driver3.get("https://www.naukri.com/")

In [78]:
#entering job title in the search box 
search_jobs=driver3.find_element_by_id("qsb-keyword-sugg")
search_jobs.send_keys("Data Scientist")

In [79]:
search_button=driver3.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

#THINGS TO SCRAP 
job datascience 
job-title, job-location, company_name, experience_required-,
salary filter “3-6” lakhs,” 
Job position in loaction filter - “Delhi/NCR” location .

In [83]:
#filtering the location 
location_box=driver3.find_element_by_xpath("//*[@class='ellipsis fleft' and @title='Delhi / NCR']").click()
time.sleep(3)

In [84]:
#filtering the  salary 
salary_box=driver3.find_element_by_xpath("//*[@class='ellipsis fleft' and @title='3-6 Lakhs']").click()

In [90]:
job_title3=[]
title_tag3=driver3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag3

for i in title_tag3:
    title=i.text
    job_title3.append(title)
    
print(len(job_title3))    
job_title3

20

['Sr. Data Scientist / Data Scientist For Bangalore & Kolkata Locations',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist/Senior Data Scientist',
 'Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist I',
 'Hiring Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Requirement For Data Scientist',
 'Urgent Requirement: Data Scientist',
 'Requirement For Data Scientist',
 'Data Scientist I/II/III']

In [86]:
Location3=[] # initiated  empty list 

#finding all the tags 
location_tag3=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag3

for i in location_tag3:
    loc=i.text
    Location3.append(loc)
    
print(len(Location3))    
Location3

20

['Kolkata, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad(Madhapur)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Tiruchirapalli/Trichy',
 'Bangalore/Bengaluru',
 'Delhi / NCR',
 'Vadodara',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(5th block Koramangala)',
 'Pune',
 'Noida',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Chennai',
 'Bhayandar',
 'Chennai',
 'Gurgaon/Gurugram']

In [87]:
c_name=[] # initiated  empty list 

#finding all the tags 
name_tag3=driver3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name_tag3

for i in name_tag3:
    name=i.text
    c_name.append(name)

print(len(c_name))    
c_name

20

['mPokket',
 'Huawei Technologies',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'Sadup softech Pvt Ltd',
 'Hexagon Geosystems Services India P.Ltd.',
 'CourseBricks',
 'Successr HR Tech PVT LTD',
 'HCL Technologies',
 'PIRAMAL ENTERPRISES LTD',
 'Kwalee India Pvt Ltd.',
 'Perform Group',
 'IHX private limited',
 'Citylink Technology Solutions Pvt. Ltd.',
 'Newgen Software Technologies Ltd.',
 'Applied Materials',
 '3rdflix Visual Effects Pvt. Ltd. - Practically',
 'Access Healthcare Services Pvt Ltd',
 'Epicenter Technologies Pvt. Ltd',
 'Access Healthcare Services Pvt Ltd',
 'OLX India Pvt Ltd']

In [88]:
Expp=[] # initiated  empty list 

#finding all the tags 
exp_tag3=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag3

for i in exp_tag3:
    ex=i.text
    Expp.append(ex)
    
print(len(Expp))    
Expp

19

['3-8 Yrs',
 '4-9 Yrs',
 '3-5 Yrs',
 '6-11 Yrs',
 '1-6 Yrs',
 '4-8 Yrs',
 '4-7 Yrs',
 '1-6 Yrs',
 '2-7 Yrs',
 '1-3 Yrs',
 '4-6 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '4-8 Yrs',
 '2-4 Yrs',
 '4-8 Yrs',
 '3-6 Yrs']

In [91]:
print(len(c_name))
print(len(Location3))
print(len(job_title3))
print(len(Expp))

20
20
20
19

In [92]:
for i in range(10):
    c_name.pop()
    Location3.pop()
    job_title3.pop()

for i in range(9):
    Expp.pop()

In [93]:
DS_filter=pd.DataFrame({})    
DS_filter["Company name "]=c_name
DS_filter["Company Location "]=Location3
DS_filter["Job title "]=job_title3
DS_filter["Experience reuired "]=Expp 
DS_filter.index=np.arange(1,len(DS_filter)+1)

In [94]:
DS_filter

,Company name,Company Location,Job title,Experience reuired
1,mPokket,"Kolkata, Bangalore/Bengaluru",Sr. Data Scientist / Data Scientist For Bangal...,3-8 Yrs
2,Huawei Technologies,Bangalore/Bengaluru,Lead Data Scientist,4-9 Yrs
3,EXL Services.com ( I ) Pvt. Ltd.,"Gurgaon/Gurugram, Bangalore/Bengaluru",Data Scientist,3-5 Yrs
4,Sadup softech Pvt Ltd,Hyderabad/Secunderabad(Madhapur),Data Scientist,6-11 Yrs
5,Hexagon Geosystems Services India P.Ltd.,"Gurgaon/Gurugram, Bangalore/Bengaluru",Data Scientist,1-6 Yrs
6,CourseBricks,Tiruchirapalli/Trichy,Data Scientist/Senior Data Scientist,4-8 Yrs
7,Successr HR Tech PVT LTD,Bangalore/Bengaluru,Data Scientist,4-7 Yrs
8,HCL Technologies,Delhi / NCR,Job Opportunity || Data Scientist || HCL Techn...,1-6 Yrs
9,PIRAMAL ENTERPRISES LTD,Vadodara,Data Scientist,2-7 Yrs
10,Kwalee India Pvt Ltd.,Bangalore/Bengaluru,Data Scientist,1-3 Yrs

In [95]:
driver3.close()

# Q4

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [96]:
driver4=webdriver.Chrome("chromedriver.exe")

In [101]:
driver4.get("https://www.glassdoor.co.in/member/home/index.htm")

In [102]:
#entering job title in the search box 
time.sleep(3)
search_job=driver4.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")

search_loca=driver4.find_element_by_id("sc.location")
search_loca.send_keys("Noida")

search=driver4.find_element_by_xpath("//span[@class='css-8zxfjs']")
search.click()

In [103]:
company=[]
name_tag=driver4.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
for i in name_tag:
    com=i.text
    company.append(com)
print (len(company))
company

30

['Pixel Vision',
 'HDFC Bank',
 'Innovacer',
 'UnitedHealth Group',
 'Crowe',
 'Salasar New Age Technologies',
 'AlgoScale Technologies Private Limited',
 'AIIMS, Delhi',
 'CODEC Networks Pvt ltd',
 'Liberin Technologies Private Limited',
 'Techlive',
 'Optum - India',
 'RannLab Technologies',
 'dunnhumby',
 'Salasar New Age Technologies',
 'NEC Opportunities',
 'Biz2Credit Inc',
 'TransOrg Analytics',
 'Iraitech Innovations & Tehcnologies Pvt.Ltd',
 'Kline & Company',
 'R Systems',
 'UnitedHealth Group',
 'Newgen Software',
 'Ericsson',
 'UnitedHealth Group',
 'Emerging India Group',
 'TransOrg Analytics',
 'UnitedHealth Group',
 'IBM',
 'SearchUrCollege']

In [104]:
Job_title=[]
job_tag=driver4.find_elements_by_xpath("//a[@class='jobLink job-search-key-1rd3saf eigr9kq1']")
for i in job_tag:
    job=i.text
    Job_title.append(job)
print (len(Job_title))
Job_title

30

['GIS Data Scientist',
 'Data Scientist-CAI',
 'Data Scientist - Sales Analytics',
 'Associate Manager Data Scientist - Noida, UP',
 'Data Scientist',
 'Data Scientist Intern',
 'Data Scientist',
 'Data Entry Operator, Research Asst, Scientist B',
 'Data Scientist Intern',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist – Gurgaon/Noida',
 'Python/AI/Big Data Developer | Research Profile',
 'Applied Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Machine Learning Intern',
 'Data Scientist',
 'Data Scientist - Python ( 5-7 Years )',
 'Data Scientist - Gurgaon/Noida',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Noida, UP',
 'Assistant Manager/Deputy Manager/Manager - Sales - Data Analytics Training Solutions',
 'Data Scientist Ops',
 'Lead Data Scientist - IJP - Noida, UP',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist']

In [105]:
Job_loc=[]
loc_tag=driver4.find_elements_by_xpath("//span[@class='css-1buaf54 pr-xxsm job-search-key-iii9i8 e1rrn5ka4']")
for i in loc_tag:
    loc=i.text
    Job_loc.append(loc)
print (len(Job_title))
Job_loc

30

['Noida',
 'Gurgaon',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'New Delhi',
 'New Delhi',
 'Noida',
 'Noida',
 'Noida',
 'Greater Noida',
 'Gurgaon',
 'Noida',
 'New Delhi',
 'Noida',
 'Gurgaon',
 'New Delhi',
 'New Delhi',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon',
 'Noida',
 'Noida',
 'Noida']

In [106]:
posted=[]
post_tag=driver4.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")

for i in post_tag:
    try:
        po=i.text
        posted.append(po)
    except:
        posted.append("_____")
        
print (len(posted))
posted

30

['5d',
 '5d',
 '5d',
 '8d',
 '15d',
 '30d+',
 '30d+',
 '4d',
 '19d',
 '30d+',
 '30d+',
 '24d',
 '1d',
 '3d',
 '30d+',
 '17d',
 '30d+',
 '10d',
 '9d',
 '3d',
 '15d',
 '24d',
 '30d+',
 '15d',
 '11d',
 '30d+',
 '10d',
 '30d',
 '30d+',
 '30d+']

In [107]:
job_template=pd.DataFrame({})
job_template["company name "]=company
job_template["job name"]=Job_title
job_template["job location "]=Job_loc
job_template["posed time"]=posted
job_template.index=np.arange(1,len(job_template)+1)

In [108]:
job_template

,company name,job name,job location,posed time
1,Pixel Vision,GIS Data Scientist,Noida,5d
2,HDFC Bank,Data Scientist-CAI,Gurgaon,5d
3,Innovacer,Data Scientist - Sales Analytics,Noida,5d
4,UnitedHealth Group,"Associate Manager Data Scientist - Noida, UP",Noida,8d
5,Crowe,Data Scientist,Noida,15d
6,Salasar New Age Technologies,Data Scientist Intern,Noida,30d+
7,AlgoScale Technologies Private Limited,Data Scientist,Noida,30d+
8,"AIIMS, Delhi","Data Entry Operator, Research Asst, Scientist B",New Delhi,4d
9,CODEC Networks Pvt ltd,Data Scientist Intern,New Delhi,19d
10,Liberin Technologies Private Limited,Associate Data Scientist,Noida,30d+
11,Techlive,Data Scientist,Noida,30d+
12,Optum - India,Data Scientist – Gurgaon/Noida,Noida,24d
13,RannLab Technologies,Python/AI/Big Data Developer | Research Profile,Greater Noida,1d
14,dunnhumby,Applied Data Scientist,Gurgaon,3d
15,Salasar New Age Technologies,Data Scientist,Noida,30d+
16,NEC Opportunities,Data Scientist,New Delhi,17d
17,Biz2Credit Inc,Data Scientist,Noida,30d+
18,TransOrg Analytics,Data Scientist,Gurgaon,10d
19,Iraitech Innovations & Tehcnologies Pvt.Ltd,Machine Learning Intern,New Delhi,9d
20,Kline & Company,Data Scientist,New Delhi,3d
21,R Systems,Data Scientist - Python ( 5-7 Years ),Noida,15d
22,UnitedHealth Group,Data Scientist - Gurgaon/Noida,Noida,24d
23,Newgen Software,Data Scientist,Noida,30d+
24,Ericsson,Data Scientist,Noida,15d
25,UnitedHealth Group,"Data Scientist - Noida, UP",Noida,11d
26,Emerging India Group,Assistant Manager/Deputy Manager/Manager - Sal...,Noida,30d+
27,TransOrg Analytics,Data Scientist Ops,Gurgaon,10d
28,UnitedHealth Group,"Lead Data Scientist - IJP - Noida, UP",Noida,30d
29,IBM,Data Scientist: Artificial Intelligence,Noida,30d+
30,SearchUrCollege,Data Scientist,Noida,30d+

In [109]:
driver4.close()

# Q5

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [110]:
driver5=webdriver.Chrome("chromedriver.exe")

In [111]:
driver5.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [112]:
search_jobs=driver5.find_element_by_id("KeywordSearch")
search_jobs.send_keys("Data Scientist")

In [113]:
search_button=driver5.find_element_by_id("HeroSearchButton").click()

In [114]:
com_name=[]

name_tag5=driver5.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

for i in name_tag5:
    name=i.text
    com_name.append(name)
    
print(len(com_name))
com_name

20

['Mu Sigma',
 'IBM',
 'Tata Consultancy Services',
 'Impact Analytics',
 'Accenture',
 'Infosys',
 'Capgemini',
 'Cognizant Technology Solutions',
 'Anheuser-Busch InBev',
 'Fractal',
 'Embibe',
 'Amazon',
 'Google',
 'Ericsson-Worldwide',
 'Flipkart',
 'HP Inc.',
 'Wipro',
 'Genpact',
 'Fresher',
 'MiQ']

In [115]:
avg_sal=[]

avg_tag5=driver5.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

for i in avg_tag5:
    avg=i.text.replace("\n ",'')
    avg_sal.append(avg)
    
print(len(avg_sal))
avg_sal

20

['₹6,51,353/yr',
 '₹11,78,399/yr',
 '₹8,77,705/yr',
 '₹6,71,046/yr',
 '₹9,67,613/yr',
 '₹9,09,257/yr',
 '₹9,47,042/yr',
 '₹7,53,281/yr',
 '₹16,51,026/yr',
 '₹14,30,228/yr',
 '₹14,10,795/yr',
 '₹14,11,911/yr',
 '₹15,64,775/yr',
 '₹12,26,988/yr',
 '₹25,79,728/yr',
 '₹15,26,678/yr',
 '₹7,79,837/yr',
 '₹10,09,162/yr',
 '₹5,50,000/yr',
 '₹16,79,815/yr']

In [116]:
min_sal=[]

min_tag5=driver5.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]")

for i in min_tag5:
    mn=i.text.replace("\n",'')
    min_sal.append(mn)
    
print(len(min_sal))
min_sal

20

['₹3L',
 '₹2L',
 '₹2L',
 '₹5L',
 '₹4L',
 '₹4L',
 '₹5L',
 '₹3L',
 '₹12L',
 '₹10L',
 '₹9L',
 '₹3L',
 '₹3L',
 '₹3L',
 '₹18L',
 '₹4L',
 '₹2L',
 '₹5L',
 '₹2L',
 '₹14L']

In [117]:
max_sal=[]

max_tag5=driver5.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]")

for i in max_tag5:
    mx=i.text.replace("\n ",'')
    max_sal.append(mx)
    
print(len(max_sal))
max_sal

20

['₹49L',
 '₹43L',
 '₹26L',
 '₹9L',
 '₹31L',
 '₹33L',
 '₹16L',
 '₹18L',
 '₹20L',
 '₹21L',
 '₹19L',
 '₹45L',
 '₹73L',
 '₹36L',
 '₹44L',
 '₹50L',
 '₹28L',
 '₹14L',
 '₹15L',
 '₹20L']

In [118]:
rating=[]

rating_tag5=driver5.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")

for i in rating_tag5:
    rt=i.text.replace("\n ",'')
    rating.append(rt)
    
print(len(rating))
rating

20

['3.3',
 '3.9',
 '3.9',
 '3.9',
 '4.1',
 '3.3',
 '3.8',
 '3.8',
 '3.7',
 '4',
 '4.4',
 '3.7',
 '4.5',
 '4',
 '4.1',
 '4.2',
 '3.4',
 '3.8',
 '4.2',
 '3.9']

In [119]:
gdoor=pd.DataFrame({})
gdoor["company name "]=com_name
gdoor["Minimum salary"]=max_sal
gdoor["Average salary"]=avg_sal
gdoor["Maximum salary"]=min_sal
gdoor["company rating"]=rating
gdoor.index=np.arange(1,len(gdoor)+1)
gdoor10=gdoor.iloc[ :10]
gdoor10

,company name,Minimum salary,Average salary,Maximum salary,company rating
1,Mu Sigma,₹49L,"₹6,51,353/yr",₹3L,3.3
2,IBM,₹43L,"₹11,78,399/yr",₹2L,3.9
3,Tata Consultancy Services,₹26L,"₹8,77,705/yr",₹2L,3.9
4,Impact Analytics,₹9L,"₹6,71,046/yr",₹5L,3.9
5,Accenture,₹31L,"₹9,67,613/yr",₹4L,4.1
6,Infosys,₹33L,"₹9,09,257/yr",₹4L,3.3
7,Capgemini,₹16L,"₹9,47,042/yr",₹5L,3.8
8,Cognizant Technology Solutions,₹18L,"₹7,53,281/yr",₹3L,3.8
9,Anheuser-Busch InBev,₹20L,"₹16,51,026/yr",₹12L,3.7
10,Fractal,₹21L,"₹14,30,228/yr",₹10L,4

In [120]:
driver5.close()

# Q6


Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [121]:
driver6=webdriver.Chrome("chromedriver.exe")

In [122]:
driver6.get("https://www.flipkart.com/")
time.sleep(5)

In [123]:
search_glass =driver6.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_glass.send_keys("sunglasses"+"\n")
#   +"\n" works as enter button hit

In [124]:
#reference - Every page contains 40  glass data so  to scrap 100 glasses data , code has to repeat 3 times at min.
time.sleep(5)

In [125]:
brand_name=[]

brand_tag=driver6.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in brand_tag:
    br=i.text
    brand_name.append(br)
    
print(len(brand_name))

40

In [126]:
url=[]
for i in driver6.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url.append(i.get_attribute("href"))
print(len(url))

40

In [127]:
discount=[]
price=[]
for i in url:
    driver6.get(i)
    try:
        discount_tag=driver6.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount.append(discount_tag.text)                 
    except:
        discount.append("--")

        
print(len(discount))

40

In [128]:
price=[]
for i in url:
    driver6.get(i)
    
    try:
        price_tag=driver6.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price.append(price_tag.text)                 
    except:
        price.append("--")
    
        
print(len(price))

40

In [129]:
search_glass =driver6.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_glass.send_keys("sunglasses"+"\n")

In [131]:
next_button=driver6.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [132]:
brand_tag2=driver6.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag2:
    br=i.text
    brand_name.append(br)
    
print(len(brand_name))

80

In [133]:
url2=[]
for i in driver6.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url2.append(i.get_attribute("href"))

In [134]:
for i in url2:
    driver6.get(i)
    try:
        discount_tag2=driver6.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount.append(discount_tag2.text)                 
    except:
        discount.append("--")

        
print(len(discount))

80

In [135]:
for i in url2:
    driver6.get(i)
    
    try:
        price_tag2=driver6.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price.append(price_tag2.text)                 
    except:
        price.append("--")
    
        
print(len(price))

80

In [136]:
search_glass =driver6.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_glass.send_keys("sunglasses"+"\n")

In [138]:
next_button2=driver6.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button2.click()

In [139]:
next_button2.click()

In [140]:
brand_tag3=driver6.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tag3:
    br=i.text
    brand_name.append(br)
    
print(len(brand_name))

120

In [141]:
url3=[]
for i in driver6.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url3.append(i.get_attribute("href"))

In [142]:
for i in url3:
    driver6.get(i)
    try:
        discount_tag3=driver6.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount.append(discount_tag3.text)                 
    except:
        discount.append("--")

        
print(len(discount))

120

In [143]:
for i in url3:
    driver6.get(i)
    
    try:
        price_tag3=driver6.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price.append(price_tag3.text)                 
    except:
        price.append("--")
    
        
print(len(price))

120

In [144]:
sunglasses=pd.DataFrame({})
sunglasses["brand name "]=brand_name
sunglasses["price"]=price
sunglasses["discount %"]=discount
sunglasses.index=np.arange(1,len(sunglasses)+1)

In [145]:
sunglasses

       brand name  price discount %
1    VINCENT CHASE  ₹999    50% off
2    VINCENT CHASE  ₹999    50% off
3           PIRASO  ₹200    87% off
4         Fastrack  ₹467    48% off
5           PIRASO  ₹200    87% off
..             ...   ...        ...
116  VINCENT CHASE  ₹799    68% off
117         HIPPON  ₹257    78% off
118  VINCENT CHASE  ₹639    68% off
119      Elligator  ₹354    76% off
120         AISLIN  ₹640    82% off

[120 rows x 3 columns]

In [146]:
sunglass=sunglasses.iloc[ :100]

In [147]:
sunglass

        brand name    price discount %
1     VINCENT CHASE    ₹999    50% off
2     VINCENT CHASE    ₹999    50% off
3            PIRASO    ₹200    87% off
4          Fastrack    ₹467    48% off
5            PIRASO    ₹200    87% off
..              ...     ...        ...
96   ROZZETTA CRAFT    ₹426    80% off
97             IDEE  ₹1,009    50% off
98        ROYAL SON    ₹399    73% off
99         Fastrack    ₹548    39% off
100   VINCENT CHASE    ₹943    52% off

[100 rows x 3 columns]

In [148]:
driver6.close()

# Q7

go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

When you will open the above link you will reach to the below shown webpage.
scrap-
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [149]:
driver7=webdriver.Chrome("chromedriver.exe")

In [150]:
page=("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")
driver7.get(page)

In [151]:
#clicking on next button 
driver7.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [157]:
urls=[]
url_tag=driver7.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8' or @class='ge-49M']")
for i in url_tag:
    web=i.get_attribute("href")
    urls.append(web)
print (len(urls))

10

In [158]:
title=[]
full_review=[]

for i in  urls:
    driver7.get(i)

        
    title_tag=driver7.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for k in title_tag:
        titl=k.text
        title.append(titl)
    
    review_tag=driver7.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for l in review_tag:
        rev=l.text
        full_review.append(rev)

print("title" ,len(title))
print("full_review" ,len(full_review))

title 100
full_review 100

In [159]:
#ref 1
ratings=[]
for i in urls:
    driver7.get(i)
    
    rating_tag=driver7.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']")
    for j in rating_tag:
        try:
            rt=j.text
            ratings.append(rt)
        except:
            ratings.append("no rating")   
            
print("rating" ,len(ratings))

            #reference code gives only 98 values

rating 100

In [160]:
#length check 
print (len(ratings))
print (len (title))
print(len(full_review))

100
100
100

In [161]:
iphone=pd.DataFrame({})
iphone["rating"]=ratings
iphone["titles"]=title
iphone["full review"]=full_review
iphone.index=np.arange(1, len(iphone)+1)
iphone

,rating,titles,full review
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Best in the market!,Great iPhone very snappy experience as apple k...
...,...,...,...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...
100,5,Brilliant,A wort full value for money decision it’s . Si...

In [162]:
driver7.close()

# Q8

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

Also note that all the steps required during scraping should be done through code only and not manually.

In [163]:
driver8=webdriver.Chrome("chromedriver.exe")

In [164]:
driver8.get("https://www.flipkart.com/")
time.sleep(5)

In [165]:
search=driver8.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search.send_keys("sneakers"+"\n")

In [166]:
url8=[]
for i in driver8.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url8.append(i.get_attribute("href"))

In [167]:
time.sleep(5)

In [170]:
next_button=driver8.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [171]:
for i in driver8.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url8.append(i.get_attribute("href"))

In [172]:
next_button.click()

In [173]:
for i in driver8.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url8.append(i.get_attribute("href"))

In [174]:
len(url8)

80

In [175]:
brand=[]
description=[]
price=[]


for i in url8:
    driver8.get(i)
    
    br_tag=driver8.find_elements_by_xpath("//span[@class='G6XhRU']")
    for i in br_tag:
        br=i.text
        brand.append(br) 
    
    des_tag=driver8.find_elements_by_xpath("//span[@class='B_NuCI']")
    for i in des_tag:
        ds=i.text
        description.append(ds) 
    
    price_tag=driver8.find_elements_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
    for i in price_tag:
        pr=i.text
        price.append(pr)
    
    try:
        dt=driver8.find_elements_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        for i in dt:
            dis=i.text
            discount.append(dis)
    except:
        discount.append("no discount")

In [176]:
discount=[]

for i in url8:
    driver8.get(i)
        
    try:
        dt=driver8.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount.append(dt.text)                 
    except:
        discount.append("--")

In [178]:
print (len(discount))
print (len(description))

80
80

In [179]:
sneak_120=pd.DataFrame({})
sneak_120["brand"]=brand
sneak_120["prodcut descrition"]=description
sneak_120["price"]=price
sneak_120["discount %"]=discount

In [180]:
sneakers=sneak_120.iloc[ :100]
sneakers.index=np.arange(1,len(sneakers)+1)

In [181]:
sneakers

,brand,prodcut descrition,price,discount %
1,SCATCHITE,Sneakers Sneakers For Men (White),₹398,60% off
2,bluemaker,casual for men (beige 06) Sneakers For Men (B...,₹424,57% off
3,bluemaker,casual for men (blue 06) Sneakers For Men (Blue),₹424,57% off
4,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹679,72% off
5,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men...,₹348,65% off
...,...,...,...,...
76,Red Rose,Sneakers For Men (Blue),₹449,10% off
77,SPARX,SM-162 Sneakers For Men (Black),₹711,25% off
78,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹447,82% off
79,BIRDE,Combo Pack of 5 Casual Shoes Sneakers For Men ...,₹715,71% off
80,Paragon,Sneakers For Men (Blue),₹584,35% off

In [182]:
driver8.close()

# Q9

Q9: Go to the link - https://www.myntra.com/shoes
-Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
-And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
-Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [195]:
driver9=webdriver.Chrome("chromedriver.exe")

In [198]:
driver9.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6897.0_13595.0_6897.0%20TO%2013595.0%2C6927.0_13615.0_6927.0%20TO%2013615.0")
time.sleep(5)

##Could not execute filtering by code , used filtered url

In [199]:
brand_name=[]
n_tag=driver9.find_elements_by_xpath("//h3[@class='product-brand']")
for i in n_tag:
    n=i.text
    brand_name.append(n)

print("brand_name" , len(brand_name))


short_dec=[]
d_tag=driver9.find_elements_by_xpath("//h4[@class='product-product']")
for i in d_tag:
    n=i.text
    short_dec.append(n)

print("short_dec" , len(short_dec))

price=[]
p_tag=driver9.find_elements_by_xpath("//div[@class='product-price']")
for i in p_tag:
    n=i.text
    price.append(n)

print("price" , len(price))

brand_name 50
short_dec 50
price 50

In [200]:
next_button=driver9.find_element_by_xpath("//a[@rel='next']").click()

In [201]:

n_tag=driver9.find_elements_by_xpath("//h3[@class='product-brand']")
for i in n_tag:
    n=i.text
    brand_name.append(n)

print("brand_name" , len(brand_name))



d_tag=driver9.find_elements_by_xpath("//h4[@class='product-product']")
for i in d_tag:
    n=i.text
    short_dec.append(n)

print("short_dec" , len(short_dec))


p_tag=driver9.find_elements_by_xpath("//div[@class='product-price']")
for i in p_tag:
    n=i.text
    price.append(n)

print("price" , len(price))

brand_name 100
short_dec 100
price 100

In [202]:
black_shoe=pd.DataFrame({})
black_shoe["Brand name"]=brand_name
black_shoe["Description"]=short_dec
black_shoe["price"]=price

In [203]:
black_shoe

,Brand name,Description,price
0,ALDO,Leather Solid Loafers,Rs. 10499Rs. 14999(30% OFF)
1,Puma,Men Jamming 2.0 Running Shoes,Rs. 10399Rs. 12999(20% OFF)
2,ALDO,Men Driving Shoes,Rs. 11199Rs. 15999(30% OFF)
3,Puma,Men Deviate Nitro Running Shoe,Rs. 11999Rs. 14999(20% OFF)
4,PUMA Motorsport,Unisex FerrariRS-Fast Sneakers,Rs. 7999Rs. 9999(20% OFF)
...,...,...,...
95,Geox,Men Leather Flat Boots,Rs. 11999
96,Geox,Women Leather Pumps,Rs. 9999
97,KLEAT,Men Woven Design Sneakers,Rs. 7999
98,Heel & Buckle London,Women Suede Pumps,Rs. 8900Rs. 8990(1% OFF)
99,Heel & Buckle London,Women Solid Leather Gladiators,Rs. 9890Rs. 9990(1% OFF)

In [204]:
driver9.close()

# Q10

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [205]:
driver10=webdriver.Chrome("chromedriver.exe")

In [206]:
driver10.get("https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1634392958&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_25")

In [207]:
title=[]
t_tag=driver10.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in t_tag:
    t=i.text
    title.append(t)
print("title",len(title))

title10=[]
for i in range(10):
    title10.append(title[i])
print("title10",len(title10))    


rating=[]
r_tag=driver10.find_elements_by_xpath("//span[@class='a-icon-alt']")
for i in r_tag:
    r=i.text
    rating.append(r)
print("rating",len(rating))

rating10=[]
for i in range(10):
    rating10.append(rating[i])
print("rating10",len(rating10))


price=[]
p_tag=driver10.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in p_tag:
    p=i.text
    price.append(p)
print("price",len(price))

price10=[]
for i in range(10):
    price10.append(price[i])
print("price10",len(price10))

title 30
title10 10
rating 31
rating10 10
price 30
price10 10

In [208]:
title10

['Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'Acer Nitro 5 11th Gen Intel Core i7-11800H 15.6" (39.62cms) Full HD Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 10/RTX 3050 Ti 4GB Graphics/144 Hz, Black, 2.4 kg/RGB Backlit Keyboard) AN515-57',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU), Silver',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH',
 '(Renewed) Lenovo Thinkpad Hybrid Laptop T450s (Slim) Intel Core i7 - 5600u Processor, 12 GB Ram, 1TB Harddisk & 256 GB ssd, Windows 10 Pro, 14.1 Inches Notebook Computer',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)']

In [209]:
laptop=pd.DataFrame({})
laptop["title"]=title10
laptop["price"]=price10
laptop["rating"]=rating10
laptop

                                               title   price rating
0  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....  89,990
1  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....  77,990
2  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....  85,990
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...  53,990
4  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  24,990
5  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...  84,990
6  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....  77,990
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  93,990
8  (Renewed) Lenovo Thinkpad Hybrid Laptop T450s ...  39,990
9  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...  91,990

In [210]:
driver10.close()