Q9: Go to the link - https://www.myntra.com/shoes
-Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
-And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
-Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [49]:
import numpy as np 
import pandas as pd 
import selenium 
import time
from selenium import webdriver
import time 
#Imporing exceptionn
from selenium.common.exceptions import NoSuchElementException

In [26]:
driver9=webdriver.Chrome("chromedriver.exe")

In [31]:
driver9.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6897.0_13595.0_6897.0%20TO%2013595.0")
time.sleep(5)

##Could not execute filtering by code , used filtered url

In [41]:
brand_name=[]
n_tag=driver9.find_elements_by_xpath("//h3[@class='product-brand']")
for i in n_tag:
    n=i.text
    brand_name.append(n)

print("brand_name" , len(brand_name))


short_dec=[]
d_tag=driver9.find_elements_by_xpath("//h4[@class='product-product']")
for i in d_tag:
    n=i.text
    short_dec.append(n)

print("short_dec" , len(short_dec))

price=[]
p_tag=driver9.find_elements_by_xpath("//div[@class='product-price']")
for i in p_tag:
    n=i.text
    price.append(n)

print("price" , len(price))

brand_name 50
short_dec 50
price 50

In [42]:
next_button=driver9.find_element_by_xpath("//a[@rel='next']").click()

In [43]:

n_tag=driver9.find_elements_by_xpath("//h3[@class='product-brand']")
for i in n_tag:
    n=i.text
    brand_name.append(n)

print("brand_name" , len(brand_name))



d_tag=driver9.find_elements_by_xpath("//h4[@class='product-product']")
for i in d_tag:
    n=i.text
    short_dec.append(n)

print("short_dec" , len(short_dec))


p_tag=driver9.find_elements_by_xpath("//div[@class='product-price']")
for i in p_tag:
    n=i.text
    price.append(n)

print("price" , len(price))

brand_name 100
short_dec 100
price 100

In [47]:
black_shoe=pd.DataFrame({})
black_shoe["Brand name"]=brand_name
black_shoe["Description"]=short_dec
black_shoe["price"]=price

In [48]:
black_shoe

,Brand name,Description,price
0,Hush Puppies,Men Leather Derbys,Rs. 7199Rs. 7999(10% OFF)
1,Geox,Men Leather Formal Derbys,Rs. 9999
2,Puma,Unisex Mirage Sport Trainers,Rs. 6999Rs. 9999(30% OFF)
3,Calvin Klein,Men Solid Suede Sneakers,Rs. 7999
4,Calvin Klein,Men Mid-Top Sneakers,Rs. 6999
...,...,...,...
95,Ruosh,Men Textured Derbys,Rs. 8990
96,Puma,Unisex OP-1 PWRFrame Trainers,Rs. 7699Rs. 10999(30% OFF)
97,Puma,Unisex Rider Vintage Sneakers,Rs. 6999Rs. 9999(30% OFF)
98,ALDO,Women Sneakers,Rs. 11999
99,DAVINCHI,Men Solid Leather Formal Slip-On Shoes,Rs. 6990