Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

Also note that all the steps required during scraping should be done through code only and not manually.

In [1]:
import numpy as np 
import pandas as pd 
import selenium 
import time
from selenium import webdriver
import time 
#Imporing exceptionn
from selenium.common.exceptions import NoSuchElementException

In [13]:
driver8=webdriver.Chrome("chromedriver.exe")

In [14]:
driver8.get("https://www.flipkart.com/")
time.sleep(5)

In [15]:
search=driver8.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search.send_keys("sneakers"+"\n")

In [16]:
url8=[]
for i in driver8.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url8.append(i.get_attribute("href"))

In [17]:
time.sleep(5)

In [18]:
next_button=driver8.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [19]:
for i in driver8.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url8.append(i.get_attribute("href"))

In [20]:
next_button.click()

In [21]:
for i in driver8.find_elements_by_xpath("//a[@class='_2UzuFa']"):
    url8.append(i.get_attribute("href"))

In [22]:
len(url8)

120

In [36]:
brand=[]
description=[]
price=[]


for i in url8:
    driver8.get(i)
    
    br_tag=driver8.find_elements_by_xpath("//span[@class='G6XhRU']")
    for i in br_tag:
        br=i.text
        brand.append(br) 
    
    des_tag=driver8.find_elements_by_xpath("//span[@class='B_NuCI']")
    for i in des_tag:
        ds=i.text
        description.append(ds) 
    
    price_tag=driver8.find_elements_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
    for i in price_tag:
        pr=i.text
        price.append(pr)
    
    try:
        dt=driver8.find_elements_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        for i in dt:
            dis=i.text
            discount.append(dis)
    except:
        discount.append("no discount")

In [53]:
discount=[]

for i in url8:
    driver8.get(i)
        
    try:
        dt=driver8.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount.append(dt.text)                 
    except:
        discount.append("--")

In [54]:
print (len(discount))
print (len(description)

120

In [56]:
sneak_120=pd.DataFrame({})
sneak_120["brand"]=brand
sneak_120["prodcut descrition"]=description
sneak_120["price"]=price
sneak_120["discount %"]=discount

In [57]:
sneakers=sneak_120.iloc[ :100]
sneakers.index=np.arange(1,len(sneakers)+1)

In [58]:
sneakers

,brand,prodcut descrition,price,discount %
1,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹348,47% off
2,BIRDE,Birde Trendy Casual Shoes Sneakers For Men (B...,₹399,20% off
3,Numenzo,411 Casual Sneakers For Men (Black),₹499,75% off
4,Magnolia,Sneakers For Men (White),₹398,60% off
5,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men...,₹379,62% off
...,...,...,...,...
96,PUMA,X-Ray Millenium Sneakers For Men (Grey),"₹3,709",47% off
97,SPARX,"SM-482 Sneakers For Men (Black, Red)",₹989,26% off
98,ASIAN,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹599,25% off
99,Kraasa,Shark-41 Sneakers For Men (White),₹416,58% off
100,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹624,75% off