Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [13]:
import numpy as np 
import pandas as pd 
import selenium 
from selenium import webdriver

In [14]:
driver5=webdriver.Chrome("chromedriver.exe")

In [15]:
driver5.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [16]:
search_jobs=driver5.find_element_by_id("KeywordSearch")
search_jobs.send_keys("Data Scientist")

In [17]:
search_button=driver5.find_element_by_id("HeroSearchButton").click()

In [18]:
com_name=[]

name_tag5=driver5.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")

for i in name_tag5:
    name=i.text
    com_name.append(name)
    
print(len(com_name))
com_name

20

['Mu Sigma',
 'IBM',
 'Tata Consultancy Services',
 'Impact Analytics',
 'Accenture',
 'Infosys',
 'Capgemini',
 'Cognizant Technology Solutions',
 'Anheuser-Busch InBev',
 'Fractal',
 'Embibe',
 'Amazon',
 'Google',
 'Ericsson-Worldwide',
 'Flipkart',
 'HP Inc.',
 'Wipro',
 'Genpact',
 'Fresher',
 'MiQ']

In [19]:
avg_sal=[]

avg_tag5=driver5.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

for i in avg_tag5:
    avg=i.text.replace("\n ",'')
    avg_sal.append(avg)
    
print(len(avg_sal))
avg_sal

20

['₹6,51,353/yr',
 '₹11,78,399/yr',
 '₹8,77,705/yr',
 '₹6,71,046/yr',
 '₹9,67,613/yr',
 '₹9,09,257/yr',
 '₹9,47,042/yr',
 '₹7,53,281/yr',
 '₹16,51,026/yr',
 '₹14,30,228/yr',
 '₹14,10,795/yr',
 '₹14,11,911/yr',
 '₹15,64,775/yr',
 '₹12,26,988/yr',
 '₹25,79,728/yr',
 '₹15,26,678/yr',
 '₹7,79,837/yr',
 '₹10,09,162/yr',
 '₹5,50,000/yr',
 '₹16,79,815/yr']

In [28]:
min_sal=[]

min_tag5=driver5.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]")

for i in min_tag5:
    mn=i.text.replace("\n",'')
    min_sal.append(mn)
    
print(len(min_sal))
min_sal

20

['₹3L',
 '₹2L',
 '₹2L',
 '₹5L',
 '₹4L',
 '₹4L',
 '₹5L',
 '₹3L',
 '₹12L',
 '₹10L',
 '₹9L',
 '₹3L',
 '₹3L',
 '₹3L',
 '₹18L',
 '₹4L',
 '₹2L',
 '₹5L',
 '₹2L',
 '₹14L']

In [29]:
max_sal=[]

max_tag5=driver5.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]")

for i in max_tag5:
    mx=i.text.replace("\n ",'')
    max_sal.append(mx)
    
print(len(max_sal))
max_sal

20

['₹49L',
 '₹43L',
 '₹26L',
 '₹9L',
 '₹31L',
 '₹33L',
 '₹16L',
 '₹18L',
 '₹20L',
 '₹21L',
 '₹19L',
 '₹45L',
 '₹73L',
 '₹36L',
 '₹44L',
 '₹50L',
 '₹28L',
 '₹14L',
 '₹15L',
 '₹20L']

In [24]:
rating=[]

rating_tag5=driver5.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")

for i in rating_tag5:
    rt=i.text.replace("\n ",'')
    rating.append(rt)
    
print(len(rating))
rating

20

['3.3',
 '3.9',
 '3.9',
 '3.9',
 '4.1',
 '3.3',
 '3.8',
 '3.8',
 '3.7',
 '4',
 '4.4',
 '3.7',
 '4.5',
 '4',
 '4.1',
 '4.2',
 '3.4',
 '3.8',
 '4.2',
 '3.9']

In [30]:
gdoor=pd.DataFrame({})
gdoor["company name "]=com_name
gdoor["Minimum salary"]=max_sal
gdoor["Average salary"]=avg_sal
gdoor["Maximum salary"]=min_sal
gdoor["company rating"]=rating
gdoor.index=np.arange(1,len(gdoor)+1)
gdoor10=gdoor.iloc[ :10]
gdoor10

,company name,Minimum salary,Average salary,Maximum salary,company rating
1,Mu Sigma,₹49L,"₹6,51,353/yr",₹3L,3.3
2,IBM,₹43L,"₹11,78,399/yr",₹2L,3.9
3,Tata Consultancy Services,₹26L,"₹8,77,705/yr",₹2L,3.9
4,Impact Analytics,₹9L,"₹6,71,046/yr",₹5L,3.9
5,Accenture,₹31L,"₹9,67,613/yr",₹4L,4.1
6,Infosys,₹33L,"₹9,09,257/yr",₹4L,3.3
7,Capgemini,₹16L,"₹9,47,042/yr",₹5L,3.8
8,Cognizant Technology Solutions,₹18L,"₹7,53,281/yr",₹3L,3.8
9,Anheuser-Busch InBev,₹20L,"₹16,51,026/yr",₹12L,3.7
10,Fractal,₹21L,"₹14,30,228/yr",₹10L,4